
img{
    height: 650px;
    width: 650px;
    border-radius: 20px;
    

    
}


#bloc-items{
   display:flex;
   flex-direction: row;
   flex-flow: row wrap;
   grid-template-rows: 60px;
   display: flex;
   justify-content: center;
   
}

p {
    font-family: "Hind", sans-serif; 
    color: rgb(161, 161, 161);
    font-weight: 400;
    font-size: 20px;
}


.items{
    padding :25px;
    border-radius: 20px;
}

.items:hover{
    animation-duration: 2s;
    animation-name: expand;

}



@media screen and (max-width: 768px) {
    .bloc-items{
     display: flex;
     flex-direction: column;
     justify-content: center;

    }
    img{
        height: 300px;
        width: 300px;
    }
    .items  {
        max-width: 300px;
    }
  }